.nav {
  padding: 30px;
  background-color: #0f172a !important;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.img-logo {
  width: 300px;
  height: 100px;
}

.a {
  color: rgb(255, 254, 254);
  text-decoration: none;
  margin-left: 20px;
  width: 120px;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  font: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.a:focus{
  color: red !important;
}
.a:hover {
  opacity: 0.8;
  background-color: rgb(172, 175, 177);
}

.active {
  opacity: 0.8;
  color: red;
  background-color: rgb(172, 175, 177);
}

.Log{
transition: 0.4s ease-in-out !important;
}
.Log:hover{
  color: red !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
